<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/scripts", "~/Angular/main.js")
    @Styles.Render("~/Content/css")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body ng-app="Web">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <h1 style="color: #1bff00; height: 23px; margin-top: 6px">Asp.NetBank</h1>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
